<ion-view hide-nav-bar="true">
  <ion-content class="home padding">

  <div class="row-center">
	<div class="padding">
            <img src="img/logo.png"/>
    </div>
    <div class="padding">
            <button class="button button-full button-positive ink" ng-click="ChangeLanguage('en')">{{ 'ENGLISH' | translate}}</button>
    </div>
    <div class="padding">
            <button class="button button-full button-positive ink" ng-click="ChangeLanguage('ar')">{{ 'ARABIC' | translate}}</button>
    </div>
  </div>

  </ion-content>
</ion-view>
