<ion-view view-title="{{ 'PARTICIPANTS' | translate}}">
  <ion-content ng-class="{expanded:isExpanded}" class="row animate-fade-slide-in">
      <div class=" list col-50 animate-fade-slide-in-right" ng-repeat="item in items">

          <div ui-sref="tab.tab-participants-single-offer({ PostId: item.id,  PostTitle: item.title})" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2 ng-bind-html="item.title | limitTo:15"><span ng-if="item.title.length > 15"> ...</span></h2>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <img ng-src="{{item.thumbnail}}"/>
                </div>
            </div>

        </div>

    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" ng-show='showBtn' on-infinite="loadMore()" distance="100%"></ion-infinite-scroll>

  </ion-content>
</ion-view>