<ion-view view-title="{{pageTitle}}">
  <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in-right">

      <div class="item card-item" ng-repeat="item in items">
          <div ui-sref="tab.tab-cities-single-post({ PostId: item.id})">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar"><img ng-src="{{item.thumbnail}}"/></span>
                    <strong>{{item.title}}</strong>
                    <p ng-bind-html="item.excerpt | limitTo:60"></p>
                    <div class="card-footer text-right">
                        <i class="icon ion-ios-keypad"></i> {{item.taxonomy_offer_cat[0].title}}
                        <div class="pull-left" ng-if="((item.custom_fields.offer_expire | removeHTMLTags | timestampToDate) > 0) && ((item.custom_fields.offer_expire | removeHTMLTags | timestampToDate) < 999)" >
                            <i class="icon ion-clock assertive"></i> {{ 'EXPIRES' | translate}} <b>
                            {{item.custom_fields.offer_expire | removeHTMLTags | timestampToDate }}</b>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" ng-show='showBtn' on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

  </ion-content>
</ion-view>